*{
    outline:none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
  
body{
    font-family: 'Satoshi', sans-serif;
    background-color:#E4E4E7;
    position: relative;
    padding:0;
    margin:0;
    display: block;
}
h1,h2,h3,h4,p{
    margin:0;
    padding:0;
}

ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    cursor:pointer;
}
img{
    max-width: 100%;
}


.container{
  max-width: 98%;
  margin: 0 auto;
  position:relative;
  display: block;
}

.wrapper-flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    position: relative;
}
.sidebar{
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    width: 64px;
    min-height:calc(100vh - 40px);
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
}
.sidebar-ava{
    margin-top:16px;
}
.sidebar-ava-image{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.sidebar-menu{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    position:relative;
    margin-bottom:16px;
    margin-top:24px;
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    position:relative;
}
.sidebar-list:before{
    position: absolute;
    bottom:-8px;
    content:'';
    width:16px;
    height:1px;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, 0%);
    background:rgba(28, 28, 28, 0.30);
}
.sidebar-list:nth-child(3):before{
    display: none;
}
.sidebar-list a path{
    fill:#1C1C1C;
    fill-opacity:0.6;
}

.main-screeen{
    margin-top:20px;
    width:calc(100% - 84px);
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.top-header{
    display: flex;
    width:100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(48, 141, 85, 0.80);
}

.top-header-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:32px;
}

.top-header-nav-front_back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:8px;
}
.top-header-nav-back{
    width:32px;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.16);
}
.top-header-nav-front{

    width:32px;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    opacity:0.4;
    transform: rotate(180deg);
}



.top-header-bread{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:16px;
    color: rgba(255, 255, 255, 0.60);
}
.top-header-bread-ava{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:8px;
}
.top-header-bread-ava img{
    width:32px;
    height:32px;
    border-radius:100px;
    object-fit: cover;
}

.top-header-bread-ava p{
    color:#fff;
    font-size:14px;
    font-weight:500;
}

.top-header-bread-ava svg{
    width:16px;
    height:16px;
    transition: all 0.3s ease 0s;
}
.top-header-bread-el{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:8px;
}

.top-header-bread-el p{
    color:#fff;
    font-size:14px;
    font-weight:500;
}

.top-header-bread-el svg{
    width:16px;
    height:16px;
    transition: all 0.3s ease 0s;
}
.top-header-bread-main-el{
    font-size:20px;
    color:#fff;
    font-weight:500;
}



.top-header-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:8px;
}
.top-header-button{
    display: inline-block;
    position: relative;
}
.top-header-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px 20px;
    color:#fff;
    font-weight:500;
    font-size:14px;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.20);
}
.top-header-button svg{
    width:12px;
    height:12px;
    margin-right:8px;
}



.bottom-nav{
    position:fixed;
    bottom:32px;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,0);
    z-index:100;
    border-radius: 12px;
    background: var(--zinc-900, #18181B);
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 16px;
}

.bottom-nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:4px;
    padding:4px;
}
.bottom-nav-menu ul li{

    padding:8px 12px;
}
.bottom-nav-menu ul li.active{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.20);
}
.bottom-nav-menu ul li a{
    color:#fff;
    font-size:14px;
    font-weight:500;
    opacity: 0.6;
}
.bottom-nav-menu ul li.active a{
    opacity: 1;
}

.bottom-nav-button{
    margin-left:16px;
    padding-left:16px;
    position: relative;
    padding-right:4px;
    
}
.bottom-nav-button:before{
    height:16px;
    width:1px;
    position: absolute;
    content:"";
    left:0;
    top:50%;
    transform: translate(0%,-50%);
    background:#fff;
    opacity:0.6;
}
.bottom-nav-button a{
    color:#000;
    border-radius: 8px;
    background: #FFF;
    font-size:14px;
    font-weight:500;
    padding:8px 12px;
}